* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    
html {
    font-size: 16px;
}
    
body {
    font-size: 1rem;
    background-color: beige;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

ul {
    margin-bottom: 10px;
    list-style-type: none;
}

.bold {
    font-weight: bold;
    font-size: 1.2em;
}

main {
    width: 580px;
    float: left;
}

aside {
    width: 340px;
    float: right;
}

footer {
    clear: both;
}


